/* About Us CSS */
.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5rem;
}

#mem1 { grid-area: 1 / 1 / 2 / 2; }
#mem2 { grid-area: 1 / 2 / 2 / 3; }
#mem3 { grid-area: 1 / 3 / 2 / 4; }
#mem4 { grid-area: 2 / 1 / 3 / 2; }
#mem5 { grid-area: 2 / 2 / 3 / 3; }
#mem6 { grid-area: 2 / 3 / 3 / 4; }

.avatar img{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 50%;
}

.avatar {
    padding-bottom: 2rem;
}

.avatar img{
    width: 20rem;
    height: auto;
    aspect-ratio: 1/1;
}

.member {
    padding-bottom: 5rem;
}