header{
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Style the navigation bar container */
.navbar {
    overflow: hidden;
    background-color: #940000;
    box-shadow: 0px 0px 5px #940000;
    z-index: 2;
}

/* Style the navigation bar logo */
.navbar a.logo {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a.logo img{
    width: 10em;
}

/* Style the navigation bar website name */
.navbar p.navbar-website-name {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the navigation bar menu */
.navbar .nav-menu {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .navmenu a {
    display: inline-block;
    color: #f2f2f2;
    width: 33.333%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

/* Change color on hover */
.navbar .navmenu a:hover {
    font-weight: bold;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.underlineAnimation {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.underlineAnimation:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #ddd;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.underlineAnimation:hover:after {
    transform: scaleX(1);
}

.room-img{
    height:80vh;
}

.carousel-item{
    height: inherit;
}

.carousel{
    height: inherit;
}

.carousel-inner{
    height: inherit;
}

.carousel-item img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.title{
    padding: 0 0 5vh 0;
    font-size: 8rem;
}

button.carousel-control-prev{
    background: linear-gradient(to right,rgba(0,0,0,0.1),rgba(0,0,0,0));
}

button.carousel-control-next{
    background: linear-gradient(to left,rgba(0,0,0,0.1),rgba(0,0,0,0));
}

.description img{
    max-width: 100%;
    height: 100%;
}

.caption{
    text-align: center;
    font-style: italic;
}

button#learn-more{
    color: #000;
    outline: #000 1px solid;
    transition-duration: 0.25s;
}

button#learn-more:hover{
    transition: ease-in-out;
    color: #ddd;
    background-color: #940000;
    transition-duration: 0.25s;
    outline: none;
}

i#search-icon{
    color:#f2f2f2;
    font-size: x-large;
}

input[type="text"]:focus-visible{
    outline: none;
}

.photo{
    flex-grow: 1;
    place-items: center;
    display: grid;
}

.photo img{
    margin-left: auto;
    margin-right: auto;
}

#see-more{
    place-items: center;
    height: 25vh;
    transition-duration: 0.2s;
}

#see-more a:hover{
    font-weight: bold;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.underlineAnimation2 {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.underlineAnimation2:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #940000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.underlineAnimation2:hover:after {
    transform: scaleX(1);
}