body {
    margin: 0;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 15px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.model-container{
    width: 100%;
    height: 900px;
};

#modeldisplay{
    height: inherit;
    width: inherit; 
    background-color: lightgray;
}

model-viewer{
    height: inherit;
    width: inherit;
    background-color: lightgray;
};

/* Media Query for Mobile */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .nav.show {
        display: flex;
    }
}

#scrollButton {
    display: none;
    position: fixed;
    top: 50vh; /* Adjusted to 50vh for vertical center */
    right: 0;
    transform: translateY(-50%);
    /* padding: 10px; */
    cursor: pointer;
    z-index: 1000;
}

.half-circle-button {
    width: 20px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border-top-left-radius: 20px; /* Half of the height to create a half-circle effect */
    border-bottom-left-radius: 20px; /* Half of the height to create a half-circle effect */
    background-color: #007bff; /* Set your desired background color */
    border: none;
    position: sticky;
    right: 0;
}

.floor-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floor-button {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    margin-bottom: 30px; /* Adjust the spacing between buttons */
    background-color: #007bff; /* Set your desired background color */
    border: none;
    color: #fff; /* Set your desired text color */
    cursor: pointer;
}

/* .offcanvas-title {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#welcomebanner{
    height: 80vh;
}

#welcome-img{
    z-index: -1;
    height: inherit;
}

#welcomebanner img{
    width: 100%;
    filter: brightness(0.4);
    aspect-ratio: 14/9;
}

#welcometext{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-100%);
}

#discover{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-55%,25vh);
    font-weight: lighter;
    border: none;
}

#discover:hover{
    border: solid 2px white;
    font-weight: 300;
}