html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

section#modelarea {
    scroll-snap-align: start;
    scroll-margin-top: 10vh;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

#welcomebanner{
    height: 100vh;
}

#welcome-img{
    z-index: -1;
    height: inherit;
}

#welcomebanner img{
    width: 100%;
    filter: brightness(0.4);
    aspect-ratio: 14/9;
}

#welcometext{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-100%);
}

#discover{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-55%,25vh);
    font-weight: lighter;
    border: none;
}

#discover:hover{
    font-weight: 300;
}

.model-container#model{
    width: 100%;
    height: 90vh!important;
}

model-viewer{
    height: 90vh;
    width: inherit;
    background-color: white;
}

.search-box{
    background: #fff;
    width: 45vw;
    outline: lightgray 1px solid;
    margin-left: auto;
    margin-right: auto;
}

.result-box{
    max-height: 250px;;
    overflow-y: scroll;
    position: absolute;
    width: inherit;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    outline: lightgray 1px solid;
}

.result-box::-webkit-scrollbar{
    display: none;
}

.result-box ul{
    padding: 15px 10px;
    margin-bottom: 0!important;
}

.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
    background: #e9f3ff;
}

button{
    background: transparent;
    border: 0;
    outline: 0;
}

button.Hotspot {
    border-radius: 10px;
}

.row{
    display: flex;
    align-items: center;
}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

/* Footer CSS */
.footer-container {
    background-color: #000030;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#academics { grid-area: 1 / 1 / 4 / 2; }
#technology { grid-area: 1 / 2 / 4 / 3; }
#services { grid-area: 1 / 3 / 4 / 4; }
#recreational { grid-area: 1 / 4 / 4 / 5; }
#social { grid-area: 4 / 1 / 5 / 6; }
#copyright { grid-area: 5 / 1 / 6 / 6; }

.filterlink{
    color: white;
}

.filterlink span{
    font-weight: bold;
    font-size: 1.2em;
}

.filterlink ul{
    list-style: none;
    padding-left: 0;
}

.filterlink li{
    padding-top: 1rem;
}

.filterlink li a{
    color: #fff;
}

#social {
    border-top: lightgray 1px solid;
    margin-top: 2vh;
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
}

#social button {
    cursor: initial;
}

#social button i:hover{
    color: lightgray;
    transition-duration: 0.2s;
}

#social button i{
    color: white;
    font-size: 2em;
    transition-duration: 0.2s;
}

.zoom{
    position: absolute;
    bottom: 1vh;
    right: 3vh;
}

.zoom button{
    font-size: 1.3rem;
    border: gray 1px solid;
    transition-duration: 0.5s;
    background: #fff;
}

.zoom button:hover{
    color: white;
    background: #000;
    transition-duration: 0.5s;
}

.underlineAnimationFooter {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.underlineAnimationFooter:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #ddd;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom left;
}

.underlineAnimationFooter:hover:after {
    transform: scaleX(1);
}