.model-container{
    width: 900px;
    height: 450px;
};

#floor1{
    height: inherit;
    width: inherit; 
    background-color: lightgray;
}

model-viewer{
    height: inherit;
    width: inherit;
    background-color: lightgray;
};

