body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 15px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.model-container{
    width: 100%;
    height: 900px;
};

#floor1{
    height: inherit;
    width: inherit; 
    background-color: lightgray;
}

model-viewer{
    height: inherit;
    width: inherit;
    background-color: lightgray;
};

/* Media Query for Mobile */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .nav.show {
        display: flex;
    }
}
